/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  margin: 0;
  padding: 0;

}

main{
  margin-top: 3em;
}

/*************/
/* slideshow */
/*************/

section:first-of-type{
  padding: 0;
}

section:first-of-type img{
  position: relative;
  height: 100%;
  object-fit: cover;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 1em;
  height: 0.5em;
}
.slides::-webkit-scrollbar-thumb {
  background: #003f59;
  border-radius: 2em;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 85vh;
  margin-right: 50px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

/*******************************/
/* navigatie en hamburger menu */
/*******************************/

header{
  padding: 0.75em;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items:center;
  background-color: white;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 0;
}

nav li a{
  font-family: Graphik;
  font-size: 16px;
  color: black;
  text-decoration: none;
  display: flex;
  padding-left: 2.5em;
  margin: 1em 0;
}

nav li{
  list-style-type: none;
}

ul{
  margin: 0;
  padding: 5em 1em 0;
  background: white;
  list-style: none;
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  transform: translateX(-100%);
  transition: 0.5s;
  z-index:50;
}

/* de drie streepjes van hamburger menu */
nav button::before {
  content:"\2630";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  margin-left: -1em;
}

/* rode kruisje  */
nav.toonMenu button::before{
  content:"\274C";
  position: fixed;
}

/* opmaak button hamburgermenu  */
nav button{
  width: 5em;
  height: 2.5em;
  appearance: none;
  background-color: white;
  border: none;
  color: #003f59;
  position: relative;
  z-index: 100;
}

/* menu tonen  */
nav.toonMenu ul{
  transform:translateX(0);
}

nav li a:hover{
font-weight: bolder;
}


@media (min-width:64em) {
  
  nav button {
    display:none;
  }
  
  nav ul {
    position:static;
    transform:none;
    display:flex;
    padding:5px;
    background:none;
  }
}





/*********************/
/* algemene stijling */
/*********************/
section{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 15px;
}

img{
  position: relative;
  width: 100%;
  height: 30%;
}

h2{
  position:absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  font-family: maple-web, sans-serif;
  font-size: 1.25em;
  color: white;
  
}

h3{
  position:absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Roboto;
  font-size: 1em;
  color: white;
  text-decoration: underline;
}

p{
  position:absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  font-family: Graphik;
  font-size: 1em;
  color: white;
}
 





/***************/
/*fixed buttons*/
/***************/

section:nth-of-type(2){
  position:absolute;
}

section:nth-of-type(2) button:first-of-type{
  border-radius: 2em;
  z-index: 2;
  position: fixed; 
  justify-content: left;
  background-color: #003f59;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  color: white;
  bottom: 1em;
  left: 1.25em;
}

section:nth-of-type(2) button:nth-of-type(2){
  padding: 5px;
  border-radius: 3em;
  z-index: 2;
  position: fixed;
  margin-left: 300px;
  background-color: #003f59;
  border-style: none;
  bottom: 1em;
  right: 1.5em;
}

button:first-of-type img{
  width: 25px;
  padding-right: 0.5em;
}

button:nth-of-type(2) img{
  width: 15px;
  border-radius: 2em;
}

button:nth-of-type(2) img{
  width: 50px;
}







/*******************************/
/* mossery planner kit blokje  */
/*******************************/

section:nth-of-type(3), section:nth-of-type(4) {
  height: 80vh;
  display: flex;
  justify-content: center;
}

section:nth-of-type(3) img, section:nth-of-type(4) img{
  position: relative;
  height: 100%;
  object-fit: cover;
}

section:nth-of-type(3) p:first-of-type {
  top: 50px;
}

section:nth-of-type(3) h2 {
  top: 85px;
}

section:nth-of-type(3) p:nth-of-type(2){
  width: 70%;
  top: 125px;
  position:absolute;
  text-align: center;
}

section:nth-of-type(3) button{
  top:250px;
}

section:nth-of-type(3) button{
  position: absolute;
  background-color: #003f59;
  border-style: none;
  padding: 15px;
  border-radius: 0.5em;
  font-size: 18px;
  color: white;
}




/*******************************/
/* 2022 monthly planner blokje  */
/*******************************/

section:nth-of-type(4) h2 {
  top: 75px;
}

section:nth-of-type(4) p{
  width: 70%;
  top: 125px;
  position:absolute;
  text-align: center;
}

section:nth-of-type(4) button{
  top:225px;
}

section:nth-of-type(4) button{
  position: absolute;
  background-color: #003f59;
  border-style: none;
  padding: 15px;
  border-radius: 0.5em;
  font-size: 18px;
  color: white;
}





/******************************/
/* twinbook en undated planner*/
/******************************/

section:nth-of-type(5), section:nth-of-type(6) {
  height: 45vh;
  display: flex;
  justify-content: center;
}

section:nth-of-type(5) img, section:nth-of-type(6) img {
  position: relative;
  height: 100%;
  object-fit: cover;
}





/***************/
/* section 9/10*/
/***************/

section:nth-of-type(7){
  background-color: #e0f4f2;
}

section:nth-of-type(7) h1{
  font-family: Graphik;
  font-size: 1.25em;
  color: #003f59;
  padding-top: 25px;
}

section:nth-of-type(8){
  background-color: #e0f4f2;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section:nth-of-type(8) article p{
  color: #003f59; 
  position: relative;
  top: 0;
}

section:nth-of-type(8) article h3{
  color: #003f59; 
  position: relative;
  text-decoration: none;
  top:0;
  }

section:nth-of-type(8) article video{
  height: 30vh;
  display: block;
  margin: auto;
}





/************/
/* footer   */
/************/

footer{
  background-color: #e0f4f2;
  height: 50vh;
}



/**************/
/* responsive */
/**************/

/* .flex{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
} */